<div>
    <a href="/">Express Movies</a>
    &nbsp;
    <a href="/movies">Movies</a>  
    &nbsp;
    <a href="/movie-search">Search</a> 
    &nbsp;
    <span  id='connectionLink'><a href="/login">Connexion</a> </span>
    
</div>
