<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">
    <title>Express movies stuff</title>
    <link rel="stylesheet" href="../public/style.css"/>
  </head>
  <body>
    <div class="central">
    <% include ./partials/header %>
    <h1>Express movies stuff le site</h1>
    <div>
      Body de la page d'acceuil.
    </div>
  </div>
  <% include ./partials/footer %>
  </body>
</html>
